<div class = "w3-container">

  <div class = "w3-row">
    <div class = "w3-container w3-quarter w3-padding">

            <img src= "/images/logo1.jpg" style="width:100%; height:100px;">

    </div>

    <div class = "w3-container w3-half w3-padding">

            <div class = "w3-bar">
            
                        <a href = "#" class = "w3-bar-item w3-text-orange"> fizicka lica </a>
                        <a href = "#" class = "w3-bar-item w3-text-orange"> kontaktirajte nas </a>
                        
            
            </div>

            <br>


            <div class = "w3-bar w3-black ">
                    
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectHome()"><b>Pocetna</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('about')"><b>O nama</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('Location')"><b>Lokacije</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('tripInsurance')"><b>Automobili i putovanja</b> </button>
                        
                   
                          
            </div>


    </div>

    <div class = "w3-container w3-quarter">

    </div>

</div>





<div class = "w3-row">
  <div class = "w3-container w3-quarter">

  </div>

  <div class = "w3-quarter">
      <label class = "w3-text-gray w3-small">Pocetna>Web osiguranje>Putno osiguranje </label>

  </div>

  <div class = "w3-rest">

  </div>

</div>


<br>

<div class = "w3-row">
  
  
            <div class = "w3-container w3-quarter">
            </div>
  
            <div class = "w3-container w3-half w3-center">
  
                    <h1 class= "w3-text-red w3-xxlarge ">  PUTNO OSIGURANJE  </h1>
                
            </div>
  
            <div class = "w3-container w3-rest  w3-padding">
  
                   <p> </p>
  
  
            </div>
  
  
  
    </div>

 <br>
    <div class = "w3-row">

        <div class = "w3-col" style = "width:16%">

          <p> </p>

        </div>


        <div class = "w3-col" style ="width:68%">

            
            <div class = "w3-bar w3-border w3-light-gray w3-padding" style = "width:100%">

                <div class = "w3-bar-item w3-padding w3-bottombar w3-border-red">

                  <br>
                  <h3><b>Podaci za proracun</b></h3>


                </div>

                <div class = "w3-bar-item w3-padding">
                    
                  <br>
                  <h3><b>Cena</b></h3>
                    
                    
               </div>

               <div class = "w3-bar-item w3-padding">
                
              <br>
              <h3><b>Podaci</b></h3>
                
                
           </div>

               <div class = "w3-bar-item">
                  
                <br>
                <h3><b>Podaci o nosiocu osiguranja</b></h3>
                  
                  
             </div>

             <div class = "w3-bar-item">
                
              <br>
              <h3><b>Porudzbina</b></h3>
                
                
           </div>

            </div>


        </div>

        <div class = "w3-col" style = "width:16%">

            <p>
                </p>

        </div> 




    </div>

    <br>
    <br>
    <div class = "w3-row">


        <div class = "w3-quarter">
           
                   <!-- <div *ngFor= "let a of sadrzaj">
                        <div *ngIf = "a.id == 1"> 
                            <div *ngFor = "let b of a.vrednosti">  <strong> {{b.sifra}} </strong>
                         </div> 
                       
                        </div>

                    </div> 

                    <div *ngFor = "let a of regs">
                            <strong> {{a.label}} </strong>

                    </div> -->

                
            <p>
                </p>
         

        </div>


        <div class = "w3-half">

                    
      <!--  <div class="w3-card-4"> -->
             
            <form class="w3-container" #myForm="ngForm">

                <br>

                <p>
                    <label class = "w3-text-gray" for="optionDestination"> <strong> Destinacija  </strong>  </label>
                    <br>
                    <select   class="w3-select w3-border" id = "optionDestination" name="optionDestination" #selectElem (change)="setNewValue(selectElem.value)"  style = "width:70%;"> <!-- ovde ide baza podataka -->
                     

                        <option *ngFor = "let a of regs" value = {{a.value}}> {{a.label}} </option>
                        
                  

                    </select>
                </p>
                
                <!-- <div class = "w3-panel" *ngIf="optionDestination.touched && !optionDestination.valid">
                    <div *ngIf="optionDestination.errors.required" style="width:70%;">  <label class = "w3-text-red w3-large"> Morate uneti destinaciju </label></div>

                </div> -->
            
                <br>




                <p>
                        <label class = "w3-text-gray" for="optionPackage"> <strong> Vrsta osiguravajuceg paketa </strong>  </label>
                        <br>
                        <select  required ngModel class="w3-select w3-border" id = "optionPackage" name="optionPackage"  #optionPackage = "ngModel"  (change)="changePorodicno(optionPackage)" style = "width:70%;"> <!-- ovde ide baza podataka -->
                           
                            <option value="Individualno" >Individualno</option>
                            <option value="Porodicno">Porodicno</option> 

                        </select>
                    </p>
                    
                    <div class = "w3-panel" *ngIf="optionPackage.touched && !optionPackage.valid">
                        <div *ngIf="optionPackage.errors.required" style="width:70%;">  <label class = "w3-text-red w3-large"> Morate uneti vrstu paketa </label></div>
    
                    </div> 

                <br>


                <div *ngIf="porodicno">
                    <p >
                        <label class = "w3-text-gray" for="brojRoditelja"> <strong> Broj roditelja </strong>  </label>
                       <!-- <input  min="1" ngModel class="w3-input w3-border" id = "brojRoditelja" name="brojRoditelja" #brojRoditelja="ngModel"  type="number" style = "width:40%;"> -->
                        <input class = "w3-input w3-border" required type = "number" min=1 style = "width:40%" [(ngModel)]="modelVrednost.brojRoditelja" [ngModelOptions]="{standalone: true}"> 
                        
                    </p>
                </div>
                    
                   

                <br>

                    <div *ngIf="porodicno">
                <p  >
                        <label class = "w3-text-gray" for="brojDece"> <strong> Broj dece </strong>  </label>
                      <!--  <input   min="1" ngModel class="w3-input w3-border" id = "brojDece" name="brojDece" #brojDece="ngModel"  type="number" style = "width:40%;"> -->
                        <input class = "w3-input w3-border" required type = "number" min=1 style = "width:40%" [(ngModel)]="modelVrednost.brojDece" [ngModelOptions]="{standalone: true}"> 
                        
                        
                    </p>
                    </div>
    <!--
                    <div  class = "w3-panel" *ngIf=" porodicno && brojDece.touched && !brojDece.valid">
                        <div *ngIf="brojDece.errors.required" style="width:70%;">  <label class = "w3-text-red w3-large"> Morate uneti broj dece </label></div>
    
                    </div> -->

                <br>


                    <div *ngIf="!porodicno">
                <p>
                        <label class = "w3-text-gray" for="optionYouth"> <strong> Uzrast lica </strong>  </label>
                        <br>
                     <!--   <select  ngModel class="w3-select w3-border" id = "uzrastLica" name="uzrastLica"  #uzrastLica = "ngModel"  style = "width:40%;"> --> <!-- ovde ide baza podataka -->      
                        <select class="w3-select w3-border" name="optionYouth" #selectYouth (change)="setNewYouth(selectYouth.value)"  style = "width:40%;" > <!-- ovde ide baza podataka -->
                            
                            <option *ngFor = "let i of starts" value = {{i.value}}> {{i.label}} </option> 
                        <!--<option value="Deca">Deca (6 meseci-18 godina)</option>
                        <option value="Odrasli">Odrasli (18-70 godina)</option>
                        <option value="Stariji">Stariji (preko 70 godina)</option> -->
                        </select>
                    </p>
                    </div>
    
                    

                <br>


                <p >
                        <label class = "w3-text-gray" for="pocetakOsiguranja"> <strong> Pocetak osiguranja </strong>  </label>
                        <input required  ngModel class="w3-input w3-border" id = "pocetakOsiguranja" name="pocetakOsiguranja" #pocetakOsiguranja="ngModel"  type="date" style = "width:40%;">
                        
                    </p>
    
                        
                    <div  class = "w3-panel" *ngIf="pocetakOsiguranja.touched && !pocetakOsiguranja.valid">
                        <div *ngIf="pocetakOsiguranja.errors.required" style="width:70%;">  <label class = "w3-text-red w3-large"> Morate uneti pocetak osiguranja </label></div>
    
                    </div> 

                <br>


                <p >
                        <label class = "w3-text-gray" for="trajanjeOsiguranja"> <strong> Trajanje osiguranja (u danima) </strong>  </label>
                        <input required min="1"  ngModel class="w3-input w3-border" id = "trajanjeOsiguranja" name="trajenjeOsiguranja" #trajanjeOsiguranja="ngModel"  type="number" style = "width:40%;">
                        
                    </p>
                    
                    <div  class = "w3-panel" *ngIf="trajanjeOsiguranja.touched && !trajanjeOsiguranja.valid">
                        <div *ngIf="trajanjeOsiguranja.errors.required" style="width:70%;">  <label class = "w3-text-red w3-large"> Morate uneti trajanje osiguranja </label></div>
    
                    </div> 

                <br>

                

                <p>
                        <label class = "w3-text-gray" for="iznos"> <strong> Do kog iznosa je  (svaka) osoba osigurana </strong>  </label>
                        <br> 
                        <select   class="w3-select w3-border" #selectIznos (change)="setNewIznos(selectIznos.value)"  id = "iznos" name="iznos"   style = "width:70%;"> <!-- ovde ide baza podataka -->
                            <option *ngFor = "let k of iznoss" value = {{k.value}}> {{k.label}} </option> 
                           <!-- <option value="10000$">10000$</option>
                            <option value="20000$">20000$</option>
                            <option value="30000$">30000$</option>
                            <option value="preko$">preko...</option> -->

                        </select>
                    </p>
    
                        
                <!--    <div class = "w3-panel" *ngIf="iznos.touched && !iznos.valid">
                        <div *ngIf="iznos.errors.required" style="width:70%;">  <label class = "w3-text-red w3-large"> Morate uneti do kog iznosa su osobe osigurane </label></div>
    
                    </div>  -->
    
                    <br>

                    <p>

                        
            <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white" [disabled]="!myForm.form.valid" (click)= "redirectValueWithObject(optionPackage, pocetakOsiguranja, trajanjeOsiguranja)">IZRACUNAJ </button>
            <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueCloseWithObject()">Odustani </button>

                    </p>


 <!-- ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg  -->

<!--
                <p>      
                <label class="w3-text-gray" for ="first" ><strong>First Name</strong></label>
                <input required minlength="3" maxlength="10" ngModel class="w3-input w3-border" id = "first" name="first" #first="ngModel" (change)="log(first)" type="text" style = "width:70%;">
                    
                 </p>

                 <div class = "w3-panel" *ngIf="first.touched && !first.valid">
                        <div *ngIf="first.errors.required"  style = "width:70%;"><label class = "w3-text-red w3-large">Morate uneti ime </label> </div>
                        <div *ngIf="first.errors.minlength" style = "width:70%;"> <label class = "w3-text-red w3-large"> malo je slova </label> </div>
    
                </div>
            
                

                <p> 
                
                <br>
                    
                 <label class="w3-text-gray" for = "last"><strong>Last Name</strong></label>
                <input required ngModel class="w3-input w3-border" id = "last" name="last" #last="ngModel" (change)="log2(last)" type="text" style = "width:70%;">
        
                </p>

                <div class = "w3-panel" *ngIf="last.touched && !last.valid">
                        <div *ngIf="last.errors.required"  style = "width:70%;"><label class = "w3-text-red w3-large">Morate uneti prezime </label> </div>
                       
                </div>

                <p>
                        <select  required ngModel class="w3-select w3-border" id = "optionDestination" name="optionDestination"  #optionDestination = "ngModel" (change)="log3(optionDestination)"  style = "width:70%;">  --><!-- ovde ide baza podataka -->
            <!--                <option value="1" selected>Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                
                </p>
            

                <br>
                <p>
                
                
                <button class="w3-btn w3-red" [disabled]="!myForm.form.valid" (click)="nestoDaProbam(first, last, optionDestination)" >Register</button></p>
                -->   </form>
      <!-- </div> -->



        </div> 



        <div class = "w3-quarter">

           <p> </p>
<!--
                <div id="id01" class="w3-modal ">
                       
                        <app-buy-stambeno-insurance></app-buy-stambeno-insurance>
                
                      </div>



                      <div id="id02" class="w3-modal ">
                           
                            <app-buy-casco-insurance></app-buy-casco-insurance>

                          </div>

                        -->

        </div>





    </div>

    <div class = "w3-row-padding">
        <div class = "w3-quarter">

                <p> </p>

        </div>


        <div class = "w3-half">
                
                   <p> </p>
                
         </div>

         <div class = "w3-quarter">
             <!--   
                <h3 class = "w3-text-blue">Dodatne mogucnosti:</h3>
                <ul class = "w3-ul w3-border" style = "width:80%">
                        <li> <label class = "w3-text-blue"><b>Stambeno osiguranje </b> </label> <button class = "w3-btn" onclick = "document.getElementById('id01').style.display='block'" > <i class="fa fa-check" style="font-size:36px"></i>  </button> </li>
                        <li> <label class = "w3-text-blue"><b>Pomoc na putu </b> </label> <button class = "w3-btn" onclick = "document.getElementById('id02').style.display='block'" > <i class="fa fa-check" style="font-size:36px"></i>  </button> </li>
                        
                </ul>        
            -->
                
        </div>

    </div>

    <br>
    <br>
    <br>

    <div class = "w3-row">


        <div class = "w3-quarter">
          <p> </p>
        </div>

        <div class = "w3-half w3-display-container">

          <div class = "w3-display-left">

            <div class = "w3-bar">

                <i class="fa fa-cc-mastercard w3-bar-item " style="font-size:60px;"></i>
                <i class="fa fa-cc-visa w3-bar-item" style="font-size:60px;"></i>
                <i class="fa fa-cc-diners-club w3-bar-item" style="font-size:60px;"></i>

            </div>
        
              
          </div>

          <div class = "w3-display-middle">
              <div class = "w3-bar">
                  <i class="fa fa-cc-paypal w3-bar-item" style="font-size:60px;"></i>
                  <i class="fa fa-credit-card w3-bar-item" style="font-size:60px;"></i>
                  
              </div>
          </div>

          <div class = "w3-display-right">
              <div class = "w3-bar">
                  <i class="fa fa-paypal w3-bar-item" style="font-size:60px;"></i>
                  
                  
              </div>
          </div>

        </div>


        <div class = "w3-quarter">


        </div>




    </div>

    <br>
    
        <div class = "w3-row-padding">
    
                <div class = "w3-bar">
                        <i class="fa fa-facebook-official w3-bar-item" style="font-size:36px"></i>
                        <i class="fa fa-instagram w-bar-item" style="font-size:36px"></i>
                        <i class="fa fa-linkedin-square w3-bar-item" style="font-size:36px"></i>
                        <i class="fa fa-twitter w3-bar-item" style="font-size:36px"></i>
                          </div>
    
        </div>



</div>
