<div class = "w3-container">

    <div class = "w3-row">
        <div class = "w3-container w3-quarter w3-padding">
    
                <img src= "/images/logo1.jpg" style="width:100%; height:100px;">
    
        </div>
    
        <div class = "w3-container w3-half w3-padding">
    
                <div class = "w3-bar">
                
                            <a href = "#" class = "w3-bar-item w3-text-orange"> fizicka lica </a>
                            <a href = "#" class = "w3-bar-item w3-text-orange"> kontaktirajte nas </a>
                            
                
                </div>
    
                <br>
    
    
                <div class = "w3-bar w3-black ">
                    
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectHome()"><b>Pocetna</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('about')"><b>O nama</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('Location')"><b>Lokacije</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('tripInsurance')"><b>Automobili i putovanja</b> </button>
                        
                   
                          
            </div>
    
    
        </div>
    
        <div class = "w3-container w3-quarter">
    
        </div>
    
    </div>



<div class = "w3-row">
    <div class = "w3-container w3-quarter">
  
    </div>
  
    <div class = "w3-quarter">
        <label class = "w3-text-gray w3-small">Pocetna>Web osiguranje>Putno osiguranje </label>
  
    </div>
  
    <div class = "w3-rest">
  
    </div>
  
  </div>

  

<br>

<div class = "w3-row">
  
  
            <div class = "w3-container w3-quarter">
            </div>
  
            <div class = "w3-container w3-half w3-center">
  
                    <h1 class= "w3-text-red w3-xxlarge ">  PUTNO OSIGURANJE  </h1>
                
            </div>
  
            <div class = "w3-container w3-rest  w3-padding">
  
                   <p> </p>
  
  
            </div>
  
  
  
    </div>

 <br>


<div class = "w3-row">
    
            <div class = "w3-col" style = "width:16%">
    
              <p> </p>
    
            </div>
    
    
            <div class = "w3-col" style ="width:68%">
    
                
                <div class = "w3-bar w3-border w3-light-gray w3-padding" style = "width:100%">
    
                    <div class = "w3-bar-item w3-padding ">
    
                      <br>
                      <h3><b>Podaci za proracun</b></h3>
    
    
                    </div>
    
                    <div class = "w3-bar-item w3-padding">
                        
                      <br>
                      <h3><b>Cena</b></h3>
                        
                        
                   </div>
    
                   <div class = "w3-bar-item w3-padding w3-bottombar w3-border-red">
                    
                  <br>
                  <h3><b>Podaci</b></h3>
                    
                    
               </div>
    
                   <div class = "w3-bar-item w3-padding">
                      
                    <br>
                    <h3><b>Podaci o nosiocu osiguranja</b></h3>
                      
                      
                 </div>
    
                 <div class = "w3-bar-item">
                    
                  <br>
                  <h3><b>Porudzbina</b></h3>
                    
                    
               </div>
    
                </div>
    
    
            </div>
    
            <div class = "w3-col" style = "width:16%">
    
                <p>
                    </p>
    
            </div> 
    
    
    
    
        </div>
  
      <br>
      <br>


          <div class = "w3-row">



                <div class = "w3-quarter">

                    <p> </p>
                </div>

                <div class = "w3-half">

                    <div *ngIf="!pokazivac" class = "w3-content" >
                            <form class = "w3-container" #myForm3="ngForm" style = "width:50%;"> 


                                    <div *ngFor = "let i of brojevi; let i = index">
                                            
                                            
                                                                                    <div class = "w3-border-bottom w3-border-gray">
                                                                                        <strong> Podaci o {{i+1}}. korisniku</strong>
                                                                                    </div>
                                                    
                                                                                    <br>
                                                                                    <br>
                                            
                                                                                    <div>
                                                                                            
                                                                                       <label class = "w3-text-gray"> <strong>Ime*</strong> </label>
                                                                                        <br>
                                                                                        <input required  type = "text"  class = "w3-input w3-border" [(ngModel)]="modelNizNosioci.imeNosilaca[i]" [ngModelOptions]="{standalone: true}">
                                                                                         
                                                                                    </div>

                                                                                    

                                                                                        <br>
                                                                                        <br>
                                                                                    <div >
                                                                                                          
                                                                                        <label class = "w3-text-gray"> <strong>Prezime*</strong> </label>
                                                                                        <br>
                                                                                        <input required type = "text" class = "w3-input w3-border"   [(ngModel)]="modelNizNosioci.prezimeNosilac[i]" [ngModelOptions]="{standalone: true}">
                                                                                                          
                                                                                        </div>
                                                                                            
                                                                                            
                                                                                        <br>
                                                                                        <br>
                                            
                                                                                        <div>
                                                                                                
                                                                                        <label class = "w3-text-gray"> <strong>Maticni broj (JMBG)*</strong> </label>
                                                                                        <br>
                                                                                         <input required type = "text" class = "w3-input w3-border" [(ngModel)]= "modelNizNosioci.jmbgNosilac[i]" [ngModelOptions]="{standalone: true}">
                                                                                                
                                                                                        </div>
                                                                                
                                                                                
                                                                                        <br>
                                                                                        <br>
                                                                                      <div >
                                                                                                  
                                                                                        <label class = "w3-text-gray"> <strong>Broj pasosa*</strong> </label>
                                                                                         <br>
                                                                                         <input required  type = "text" class = "w3-input w3-border" [(ngModel)]="modelNizNosioci.pasosNosilac[i]" [ngModelOptions]="{standalone: true}">
                                                                                         
                                                                                                  
                                                                                         </div>
                                            
                                                                                         <br>
                                                                                         <br>
                                                                                           <div>
                                                                                             
                                                                                             <label class = "w3-text-gray"> <strong>Adresa*</strong> </label>
                                                                                             <br>
                                                                                              <input required type = "text" class = "w3-input w3-border" [(ngModel)]="modelNizNosioci.adresaNosilac[i]" [ngModelOptions]="{standalone: true}">
                                                                                              
                                                                                             
                                                                                           </div>
                                                                           
                                                                         
                                                                                           <br>
                                                                                           <br>
                                                                                             <div>
                                                                                               
                                                                                               <label class = "w3-text-gray"> <strong>Broj telefona*</strong> </label>
                                                                                               <br>
                                                                                                <input required type = "text" class = "w3-input w3-border" [(ngModel)]="modelNizNosioci.telefonNosilac[i]" [ngModelOptions]="{standalone: true}">
                                                                                               
                                                                                             </div>
                                            
                                                                                             <br>
                                                                                             <br>

                                            
                                                                                             
                                            
                                                                        </div>                              


                                                                        <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueBackWithObject2()">Nazad </button>
                                                                        <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueCloseWithObject2()">Odustani od kupovine </button>
                                                                        <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white" [disabled]="!myForm3.form.valid"  (click)= "redirectValueContinueWithObject2()">Nastavi sa kupovinom </button>






                            </form>
                           
                           
                          

                      </div>


                      <div *ngIf = "pokazivac" class = "w3-content" >
                            
                        <div class = "w3-border-bottom w3-border-gray" style = "width:90%">
                            <strong> Nosilac osiguranja </strong>
                        </div>
                
                        <br>
                         <br>  

                        <form class = "w3-container" #myForm2="ngForm" style = "width:50%;">

                            <br>
                            <p>

                                    <label class = "w3-text-gray" for="imeNosioc"> <strong> Ime* </strong>  </label>
                                   <input  required ngModel class="w3-input w3-border" id = "imeNosioc" name="imeNosioc" #imeNosioc="ngModel"  type="text" > 
                      


                            </p>
                            <div  class = "w3-panel" *ngIf="imeNosioc.touched && !imeNosioc.valid">
                                    <div *ngIf="imeNosioc.errors.required" style="width:70%;">  <label class = "w3-text-red w3-large"> Morate uneti ime nosioca </label></div>
                
                                </div> 
                                
                            <br>

                            <p>
                                <label class = "w3-text-gray" for="prezimeNosioc"> <strong> Prezime*</strong> </label>
                                <input required ngModel class = "w3-input w3-border" id="prezimeNosioc" name="prezimeNosioc" #prezimeNosioc="ngModel" type="text">


                            </p>
                            <div class = "w3-panel" *ngIf="prezimeNosioc.touched && !prezimeNosioc.valid">

                                <div *ngIf="prezimeNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti prezime nosioca </label> </div>

                                
                            </div>
                            <br>

                            <p>
                                    <label class = "w3-text-gray" for="emailNosioc"> <strong> Email*</strong> </label>
                                    <input required ngModel class = "w3-input w3-border" id="emailNosioc" name="emailNosioc" #emailNosioc="ngModel" type="email">
    
    
                                </p>
                                <div class = "w3-panel" *ngIf="emailNosioc.touched && !emailNosioc.valid">
    
                                    <div *ngIf="emailNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti email nosioca </label> </div>
                                    
                                    
                                </div>
                                <br>

                                

                            <p>
                                    <label class = "w3-text-gray" for="jmbgNosioc"> <strong> JMBG*</strong> </label>
                                    <input required ngModel class = "w3-input w3-border" id="jmbgNosioc" name="jmbgNosioc" #jmbgNosioc="ngModel" type="number" size="13">
    
    
                                </p>
                                <div class = "w3-panel" *ngIf="jmbgNosioc.touched && !jmbgNosioc.valid">
    
                                    <div *ngIf="jmbgNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti jmbg nosioca </label> </div>
                                    <div *ngIf="jmbgNosioc.errors.size" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti 13 cifara </label> </div>
                                    
                                    
                                </div>
                                <br>

                            
                                <p>
                                        <label class = "w3-text-gray" for="pasosNosioc"> <strong> Broj pasosa*</strong> </label>
                                        <input required ngModel class = "w3-input w3-border" id="pasosNosioc" name="pasosNosioc" #pasosNosioc="ngModel" type="number">
        
        
                                    </p>
                                    <div class = "w3-panel" *ngIf="pasosNosioc.touched && !pasosNosioc.valid">
        
                                        <div *ngIf="pasosNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti broj pasosa nosioca </label> </div>
                                        
                                        
                                    </div>
                                    <br>



                                <p>
                                        <label class = "w3-text-gray" for="adresaNosioc"> <strong> Adresa*</strong> </label>
                                        <input required ngModel class = "w3-input w3-border" id="adresaNosioc" name="adresaNosioc" #adresaNosioc="ngModel" type="text">
        
        
                                    </p>
                                    <div class = "w3-panel" *ngIf="adresaNosioc.touched && !adresaNosioc.valid">
        
                                        <div *ngIf="adresaNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti adresu nosioca </label> </div>
                                        
                                        
                                    </div>
                                    <br>


                                    <p>
                                            <label class = "w3-text-gray" for="telefonNosioc"> <strong> Telefon*</strong> </label>
                                            <input required ngModel class = "w3-input w3-border" id="telefonNosioc" name="telefonNosioc" #telefonNosioc="ngModel" type="text">
            
            
                                        </p>
                                        <div class = "w3-panel" *ngIf="telefonNosioc.touched && !telefonNosioc.valid">
            
                                            <div *ngIf="telefonNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti telefon nosioca </label> </div>
                                            
                                            
                                        </div>
                                        <br>

                                        <p>

                                                <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueBackWithObject()">Nazad </button>
                                                <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueCloseWithObject()">Odustani od kupovine </button>
                                                <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white" [disabled]="!myForm2.form.valid" (click)= "redirectValueContinueWithObject(imeNosioc, prezimeNosioc, emailNosioc, jmbgNosioc, pasosNosioc, adresaNosioc, telefonNosioc)">Nastavi sa kupovinom </button>


                                        </p>
    





                        </form>


                      </div>

                </div> 
                

                <div class = "w3-quarter">
                    
                  <p> </p>
                 </div>








          </div>





      <br>
      <br>
      <br>
  <!--
      <div class = "w3-row">
  
  
          <div class = "w3-quarter">
            <p> </p>
          </div>
  
          <div class = "w3-half w3-display-container">
  
            <div class = "w3-display-left">
  
              <div class = "w3-bar">
  
                  <i class="fa fa-cc-mastercard w3-bar-item " style="font-size:60px;"></i>
                  <i class="fa fa-cc-visa w3-bar-item" style="font-size:60px;"></i>
                  <i class="fa fa-cc-diners-club w3-bar-item" style="font-size:60px;"></i>
  
              </div>
          
                
            </div>
  
            <div class = "w3-display-middle">
                <div class = "w3-bar">
                    <i class="fa fa-cc-paypal w3-bar-item" style="font-size:60px;"></i>
                    <i class="fa fa-credit-card w3-bar-item" style="font-size:60px;"></i>
                    
                </div>
            </div>
  
            <div class = "w3-display-right">
                <div class = "w3-bar">
                    <i class="fa fa-paypal w3-bar-item" style="font-size:60px;"></i>
                    
                    
                </div>
            </div>
  
          </div>
  
  
          <div class = "w3-quarter">
  
  
          </div>
  
  
  
  
      </div> -->
  
  
      <br>
      
          <div class = "w3-row-padding">
      
                  <div class = "w3-bar">
                          <i class="fa fa-facebook-official w3-bar-item" style="font-size:36px"></i>
                          <i class="fa fa-instagram w-bar-item" style="font-size:36px"></i>
                          <i class="fa fa-linkedin-square w3-bar-item" style="font-size:36px"></i>
                          <i class="fa fa-twitter w3-bar-item" style="font-size:36px"></i>
                            </div>
      
          </div>
  

















</div>