<div class = "w3-container">


    <div class = "w3-row">
        <div class = "w3-container w3-quarter w3-padding">
    
                <img src= "/images/logo1.jpg" style="width:100%; height:100px;">
    
        </div>
    
        <div class = "w3-container w3-half w3-padding">
    
                <div class = "w3-bar">
                
                            <a href = "#" class = "w3-bar-item w3-text-orange"> fizicka lica </a>
                            <a href = "#" class = "w3-bar-item w3-text-orange"> kontaktirajte nas </a>
                            
                
                </div>
    
                <br>
    
    
                <div class = "w3-bar w3-black ">
                    
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectHome()"><b>Pocetna</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('about')"><b>O nama</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('Location')"><b>Lokacije</b> </button>
                          <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('tripInsurance')"><b>Automobili i putovanja</b> </button>
                        
                   
                          
            </div>
    
    
        </div>
    
        <div class = "w3-container w3-quarter">
    
        </div>
    
    </div>




    <div class = "w3-row">
        <div class = "w3-container w3-quarter">
      
        </div>
      
        <div class = "w3-quarter">
            <label class = "w3-text-gray w3-small">Pocetna>Web osiguranje>Putno osiguranje>Nacin placanja </label>
      
        </div>
      
        <div class = "w3-rest">
      
        </div>
      
      </div>



<br>

<div class = "w3-row">
  
  
            <div class = "w3-container w3-quarter">
            </div>
  
            <div class = "w3-container w3-half w3-center">
  
                    <h1 class= "w3-text-red w3-xxlarge ">  NACIN PLACANJA  </h1>
                
            </div>
  
            <div class = "w3-container w3-rest  w3-padding">
  
                   <p> </p>
  
  
            </div>
  
  
  
    </div>


    <br>



      <!--   ovde ce ici kod glavni -->

      <div class = "w3-row">
          
          
          
                          <div class = "w3-third">
          
                              <p> </p>
                          </div>

                          <div class = "w3-third">

                              <ul class = "w3-ul">
                                  <li style= "cursor: pointer;" (click)="goPayPal()"> <b> PayPal servis </b> </li>
                                  <li style= "cursor: pointer;" (click) = "goAscquier()"> <b> Ascquier servis </b></li>
                                  <li  style= "cursor: pointer;"(click)= "goPos()"> <b> POS terminal </b></li>

                              </ul>

                              <br>

                              <br>

                              <br>


                            <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueBackWithObject()">Nazad </button>
                            <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueCloseWithObject()">Odustani od kupovine </button>
                            

                          </div>


                          <div class = "w3-third">

                            <p> </p>
                          </div>




      </div>



      <br>
      <br>
      <br>
  
   <!--   <div class = "w3-row">
  
  
          <div class = "w3-quarter">
            <p> </p>
          </div>
  
          <div class = "w3-half w3-display-container">
  
            <div class = "w3-display-left">
  
              <div class = "w3-bar">
  
                  <i class="fa fa-cc-mastercard w3-bar-item " style="font-size:60px;"></i>
                  <i class="fa fa-cc-visa w3-bar-item" style="font-size:60px;"></i>
                  <i class="fa fa-cc-diners-club w3-bar-item" style="font-size:60px;"></i>
  
              </div>
          
                
            </div>
  
            <div class = "w3-display-middle">
                <div class = "w3-bar">
                    <i class="fa fa-cc-paypal w3-bar-item" style="font-size:60px;"></i>
                    <i class="fa fa-credit-card w3-bar-item" style="font-size:60px;"></i>
                    
                </div>
            </div>
  
            <div class = "w3-display-right">
                <div class = "w3-bar">
                    <i class="fa fa-paypal w3-bar-item" style="font-size:60px;"></i>
                    
                    
                </div>
            </div>
  
          </div>
  
  
          <div class = "w3-quarter">
  
  
          </div>
  
  
  
  
      </div> -->
  

      <br>
      
          <div class = "w3-row-padding klasaA">
      
                  <div class = "w3-bar">
                          <i class="fa fa-facebook-official w3-bar-item" style="font-size:36px"></i>
                          <i class="fa fa-instagram w-bar-item" style="font-size:36px"></i>
                          <i class="fa fa-linkedin-square w3-bar-item" style="font-size:36px"></i>
                          <i class="fa fa-twitter w3-bar-item" style="font-size:36px"></i>
                            </div>
      
          </div>
  








</div>