<div class = "w3-container w3-sand">
    
        <div class = "w3-row">
            <div class = "w3-container w3-quarter w3-padding">
                <img src= "/images/logo1.jpg" style="width:100%; height:100px;">
      
            </div>
      
              <div class = "w3-container w3-half w3-padding">
      
                <div class = "w3-bar">
                
                            <a href = "#" class = "w3-bar-item w3-text-orange"> fizicka lica </a>
                            <a href = "#" class = "w3-bar-item w3-text-orange"> kontaktirajte nas </a>
                            
                
                </div>
      
                <br>
      
      
                <div class = "w3-bar w3-black ">
                        
                              <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectHome()"><b>Pocetna</b> </button>
                              <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('about')"><b>O nama</b> </button>
                              <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('Location')"><b>Lokacije</b> </button>
                              <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('tripInsurance')"><b>Automobili i putovanja</b> </button>
                            
                       
                              
                </div>
      
      
              </div>
      
            <div class = "w3-container w3-quarter">
      
            </div>
      
          </div>
    
    
    
    
          <div class = "w3-row">
              <div class = "w3-container w3-quarter">
      
              </div>
      
              <div class = "w3-quarter">
                   <label class = "w3-text-gray w3-small">Odgovor> </label>
      
                  </div>
      
              <div class = "w3-rest">
      
              </div>
      
            </div>
      
              <br>
      
            
            <hr>
    
    
    
            <br>
            <div class = "w3-row">
          
          
                    <div class = "w3-container w3-quarter">
                    </div>
          
                    <div class = "w3-container w3-half w3-center">
          
                            <h1 class= "w3-text-green w3-xxlarge "> PLACANJE </h1>
                            <hr>
                           
                            <p class = "w3-text-grey w3-xlarge w3-border-top w3-border-bottom"><b> Vasa uplata je uspela  
                              
                            </b> 
                          
                            <br>
                          <!--  <b>  Molimo vas kontaktirajte vase banku   </b> -->

                          
                          </p>

                            
                            
                            
          
          
          
                    </div>
          
                    <div class = "w3-container w3-rest  w3-padding">
          
                            <div class = {{vrednost4}} style = "width:330px">
                                    
                                <div class = "w3-light-gray ">
          
                                    <div class = "w3-display-topright">
                                        <button class = "w3-btn w3-red" (click)= "Ugasi()"> <i class="fa fa-close" style="font-size:24px"></i>    </button>
          
                                    </div>
                                    <h3 class= "w3-text-red w3-border-bottom w3-border-red"> Kontakt: </h3>
                                    <hr>
                                    <p>
                                        063-7546762
                                    </p>
                                    <p>
                                        besplatna linija:
                                        063:7546762
                                    </p>
      
                                  <button class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)="redirectValue('/Contact')"> <b>Kontaktirajte nas</b> </button>
                                  
                                 
                                  <p></p>
          
                                </div>
            
                                </div>
          
                            <button class = "w3-btn w3-xlarge w3-circle w3-red w3-card-4 w3-right" (click) = "Promena()"> <i class="fa fa-mobile " style="font-size:24px"></i> Kontakt </button>
                            <br> <br> <br> <br>
                            <button class = "w3-btn w3-xlarge w3-circle w3-red w3-card-4 w3-right" (click) = "Ugasi()"> <i class="fa fa-map-marker" style="font-size:24px"></i> Lokacije </button>
          
          
                    </div>
          
          
          
            </div>
    
    
    
    
    
    
    
    </div>