 <!-- <p>
  home-page works!
  <a routerLink = "/about" > About </a>
</p>  -->

<div class = "w3-container w3-sand">

    <div class = "w3-row">
      <div class = "w3-container w3-quarter w3-padding">
          <img src= "/images/logo1.jpg" style="width:100%; height:100px;">

      </div>

        <div class = "w3-container w3-half w3-padding">

          <div class = "w3-bar">
          
                      <a href = "#" class = "w3-bar-item w3-text-orange"> fizicka lica </a>
                      <a href = "#" class = "w3-bar-item w3-text-orange"> kontaktirajte nas </a>
                      
          
          </div>

          <br>


          <div class = "w3-bar w3-black ">
                  
                        <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectHome()"><b>Pocetna</b> </button>
                        <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('about')"><b>O nama</b> </button>
                        <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('Location')"><b>Lokacije</b> </button>
                        <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('tripInsurance')"><b>Automobili i putovanja</b> </button>
                      
                 
                        
          </div>


        </div>

      <div class = "w3-container w3-quarter">

      </div>

    </div>



    <div class = "w3-row">
        <div class = "w3-container w3-quarter">

        </div>

        <div class = "w3-quarter">
             <label class = "w3-text-gray w3-small">Pocetna> </label>

            </div>

        <div class = "w3-rest">

        </div>

      </div>

        <br>

      
      <hr>
    

<div class = "w3-row-padding">

    <div class="w3-col" style="width:20%"><p></p>
    
    </div>

    <div class = "w3-col" style = "width:60%">

<carousel>
  <slide>
    <img class = 'mainCarousel' src="images/Carusel_kasko.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      
    </div>
  </slide>
  <slide>
    <img class = 'mainCarousel' src="images/kaskoo.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
     
    </div>
  </slide>
  <slide>
    <img class = 'mainCarousel' src="images/procjenastete.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
     
    </div>
  </slide>


  <slide>


      <img class = 'mainCarousel' src="images/skiing.jpg" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
       
      </div>
    </slide>

  <slide>
    <img class = 'mainCarousel' src="images/kasko2.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
     
    </div>
  </slide>



  <slide>
    <img class = 'mainCarousel' src="images/slika2.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
     
    </div>
  </slide>
</carousel>

</div>


<div class="w3-col" style="width:20%"><p>
  


</p>
  
       

</div>
</div>



<br>

    <div class = "w3-row-padding" class = "donjiDiv">

            <div class = "w3-bar">
                    <i class="fa fa-facebook-official w3-bar-item" style="font-size:36px"></i>
                    <i class="fa fa-instagram w-bar-item" style="font-size:36px"></i>
                    <i class="fa fa-linkedin-square w3-bar-item" style="font-size:36px"></i>
                    <i class="fa fa-twitter w3-bar-item" style="font-size:36px"></i>
                      </div>

    </div>
 



  </div>


