<div class = "w3-container">





    <div class = "w3-row">
            <div class = "w3-container w3-quarter w3-padding">

                    <img src= "/images/logo1.jpg" style="width:100%; height:100px;">

            </div>

            <div class = "w3-container w3-half w3-padding">

                    <div class = "w3-bar">
                    
                                <a href = "#" class = "w3-bar-item w3-text-orange"> fizicka lica </a>
                                <a href = "#" class = "w3-bar-item w3-text-orange"> kontaktirajte nas </a>
                                
                    
                    </div>

                    <br>


                    <div class = "w3-bar w3-black ">
                            

                            <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectHome()"><b>Pocetna</b> </button>
                            <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('/about')"><b>O nama</b> </button>
                            <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('/Location')"><b>Lokacije</b> </button>
                            <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  ><b>Automobili i putovanja</b> </button>
                          
                           
                                  
                    </div>


            </div>

            <div class = "w3-container w3-quarter">

            </div>

    </div>



    <div class = "w3-row">
        <div class = "w3-container w3-quarter">

        </div>

        <div class = "w3-quarter">
            <label class = "w3-text-gray w3-small">Pocetna>Fizicka lica>Automobili i putovanja> </label>

        </div>

        <div class = "w3-rest">

        </div>

    </div>

    <br>
    <div class = "w3-row">


            <div class = "w3-container w3-third">
            </div>

            <div class = "w3-container w3-third w3-center">

                    <h1 w3-text-black w3-xlarge> AUTOMOBILI I PUTOVANJA </h1>
                    <br>
                    <p class = "w3-text-grey"><b> Bezbednost u pokretu: za vas poslovni i privatni zivot</b> </p>
                    
                    



            </div>

            <div class = "w3-container w3-rest  w3-padding">

                    <div class = {{vrednost2}} style = "width:330px">
                            
                        <div class = "w3-light-gray ">

                            <div class = "w3-display-topright">
                                <button class = "w3-btn w3-red" (click)= "Ugasi()"> <i class="fa fa-close" style="font-size:24px"></i>    </button>

                            </div>
                            <h3  class= "w3-text-red w3-border-bottom w3-border-red"> Kontakt: </h3>
                            <hr>
                            <p>
                                063-7546762
                            </p>
                            <p>
                                besplatna linija:
                                063:7546762
                            </p>


                       
                            <button class = "w3-btn  w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)="redirectValue('/Contact')"><b>kontaktirajte nas</b> </button>
                        <p></p>

                        </div>
    
                        </div>

                    <button class = "w3-btn w3-xlarge w3-circle w3-red w3-card-4 w3-right" (click) = "Promena()"> <i class="fa fa-mobile " style="font-size:24px"></i> Kontakt </button>
                    <br> <br> <br> <br>
                    <button class = "w3-btn w3-xlarge w3-circle w3-red w3-card-4 w3-right" (click) = "Ugasi()"> <i class="fa fa-map-marker" style="font-size:24px"></i> Lokacije </button>


            </div>



    </div>

    <div class = "w3-row">
            
        <div class = "w3-col" style = "width:10%">  <p> </p> </div>

        <div class = "w3-col w3-text-black w3-center" style = "width:80%">

                <p class = "w3-large">Bilo da ste na odmoru ili službenom putu, nase međunarodno putno i osiguranje motornih vozila čine vas sigurnim gde god da krenete - uvek i svuda. </p>
                <p class = "w3-large">Fleksibilna pokrića prilagođena vašim potrebama pružaju vam sigurnost za neometano putovanje.</p>

        </div>

        <div class = "w3-col" style = "width:10%">  </div>

    </div>

        <br>
    <div class = " w3-row-padding">

        <div class = "w3-col" style = "width:10%">  <p> </p>   </div>

        <div class = "w3-col w3-padding" style = "width:90%">

            <div class = "w3-row">
                <div class = " w3-half">
                        <div class = "w3-display-container">
                        <img  src = "/images/London.jpg" style = "width:75%; height:250px">
                        <div class="w3-display-left w3-display-hover">

                         
                         <button class = "w3-btn  w3-red w3-round"  (click)="redirectValue('/InfoTrip')"><b>Info ponuda</b> </button>
                         
                            <br>
                            <br>
                            
                  
                            <button class = "w3-btn  w3-red w3-round"  (click)="redirectValue('/BuyTrip')"><b>Kupi</b> </button>
                            

                        </div>

                       


                        </div>
                          
                <div class = "w3-center">
                    <h3 class =" w3-text-red"> Medjunarodno putno osiguranje </h3>
                </div>

                </div>
               <div class = " w3-half">
                    <div class = "w3-display-container">
                        
                    <img src = "/images/casco.jpg" style = "width:75%; height:250px">

                    <div class="w3-display-left w3-display-hover">
                            
                        
                      
                        <button class = "w3-btn  w3-lime w3-text-white w3-round"  (click)="redirectValue('/InfoCasco')"><b>Info ponuda</b> </button>
                        
                        <br>
                        <br>
                        <!-- <button class = "w3-btn w3-lime w3-text-white w3-round"> <b>Kupi</b> </button> -->
                            
                    </div>
                    
                          
                        
                    </div>

                    <div class = "w3-center">
                            <h3 class =" w3-text-red"> Kasko osiguranje </h3>
                        </div>

                </div>

            </div>
            <br>

            <div class = "w3-row">
                    <div class = " w3-half">
                            <div class = "w3-display-container">
                            <img src = "/images/ski2.jpg" style = "width:75%; height:250px">
    
                            <div class="w3-display-left w3-display-hover">
                                    
                             
                                <button class = "w3-btn  w3-blue w3-text-white w3-round"  (click)="redirectValue('/InfoSport')"><b>Info ponuda</b> </button>
                                
                                <br>
                                <br>
                             <!--   <button class = "w3-btn w3-blue w3-text-white w3-round"> <b>Kupi</b> </button> -->
                                    
                            </div>
                                  
                                    
                            </div>
                            <div class = "w3-center">
                                    <h3 class =" w3-text-red"> Sportsko osiguranje </h3>
                                </div>

                    </div>
                   <div class = " w3-half">
                        <div class = "w3-display-container">
                        <img src = "/images/stambeno.jpg" style = "width:75%; height:250px">

                        <div class="w3-display-left w3-display-hover">
                                

                          
                            <button class = "w3-btn  w3-green w3-text-white w3-round"  (click)="redirectValue('/InfoStambeno')"><b>Info ponuda</b> </button>
                            
                            <br>
                            <br>
                         <!--   <button class = "w3-btn w3-green w3-text-white w3-round"> <b>Kupi</b> </button> -->
                                
                        </div>
                              
                                
                        </div>
                        <div class = "w3-center">
                                <h3 class =" w3-text-red"> Stambeno osiguranje </h3>
                            </div>
    
                    </div>
                    
                </div>






        </div>

        <div class = "w3-col" style = "width:10%">  <p> </p>  </div>

    </div>

    <br>

    <div class = "w3-row-padding" >

            <div class = "w3-bar">
                    <i class="fa fa-facebook-official w3-bar-item" style="font-size:36px"></i>
                    <i class="fa fa-instagram w-bar-item" style="font-size:36px"></i>
                    <i class="fa fa-linkedin-square w3-bar-item" style="font-size:36px"></i>
                    <i class="fa fa-twitter w3-bar-item" style="font-size:36px"></i>
                      </div>

    </div>

</div>
