<div class = "w3-container w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:700px">


    
    <div class="w3-center"><br>
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
    
    </div>


      
      <div class = "w3-row">
        
        
                  <div class = "w3-container w3-quarter">
                  </div>
        
                  <div class = "w3-container w3-half w3-center">
        
                          <h1 class= "w3-text-red w3-xxlarge ">  STAMBENO OSIGURANJE  </h1>
                      
                  </div>
        
                  <div class = "w3-container w3-rest  w3-padding">
        
                         <p> </p>
        
        
                  </div>
        
        
        
          </div>


          <br>
          <br>

          <div class = "w3-row">

            <div class = "w3-quarter"> 
              
              <p> </p>
            </div>

            <div class = "w3-half w3-content">
              
            
              <form class = "w3-container" #myForm5="ngForm">

                  <br>

                  <p>

                      <label class = "w3-text-gray" for="trajanjeStambeno"> <strong> Trajanje osiguranja (u danima) </strong>  </label>
                      <input  required min="1" ngModel class="w3-input w3-border" id = "trajanjeStambeno" name="trajanjeStambeno" #trajanjeStambeno="ngModel"  type="number" > 
         


                  </p>
                  <div  class = "w3-panel" *ngIf="trajanjeStambeno.touched && !trajanjeStambeno.valid">
                      <div *ngIf="trajanjeStambeno.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti trajanje osiguranja  </label></div>
  
                  </div> 
                  
              <br>


              <p>
                  
                         <label class = "w3-text-gray" for="stanStambeno"> <strong> Povrsina stana (m<sup>2</sup>) </strong>  </label>
                       <!-- <input  required min="20" ngModel class="w3-input w3-border" id = "stanStambeno" name="stanStambeno" #stanStambeno="ngModel"  type="number" >  -->
                       <select   class="w3-select w3-border" id = "stanStambeno" name="stanStambeno" #selectPov (change)="setNewPovrsina(selectPov.value)" > 
                        <option *ngFor = "let a of povrsine" value = {{a.label}}> {{a.label}} </option>
                    
                      </select>
                           
                  

                        </p>
                        <!--
                            <div  class = "w3-panel" *ngIf="stanStambeno.touched && !stanStambeno.valid">
                              <div *ngIf="stanStambeno.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti povrsinu stana  </label></div>
                    
                              </div>   -->
                                    
                            <br>


                 <p>
                                
                    <label class = "w3-text-gray" for="starostStambeno"> <strong> Starost stana (godina) </strong>  </label>
                      <!-- <input  required min="20" ngModel class="w3-input w3-border" id = "starostStambeno" name="starostStambeno" #starostStambeno="ngModel"  type="number" >  -->
                      <select   class="w3-select w3-border" id = "starostStambeno" name="starostStambeno" #selectStar (change)="setNewStarost(selectStar.value)" > 
                        <option *ngFor = "let b of starosti" value = {{b.label}}> {{b.label}} </option>
                    
                      </select>         
                      </p>
                       <!--  <div  class = "w3-panel" *ngIf="starostStambeno.touched && !starostStambeno.valid">
                           <div *ngIf="starostStambeno.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti starost stana  </label></div>
                             </div> -->
                                                  
                        <br>


                        <p>
                            
                <label class = "w3-text-gray" for="procenaStambeno"> <strong> Procenjene vrednosti stana </strong>  </label>
                  <!-- <input  required  ngModel class="w3-input w3-border" id = "procenaStambeno" name="procenaaaaStambeno" #procenaStambeno="ngModel"  type="text" >  -->
                  <select   class="w3-select w3-border" id = "procenaStambeno" name="procenaStambeno" #selectProcena (change)="setNewProcena(selectProcena.value)" > 
                    <option *ngFor = "let c of procenjene" value = {{c.label}}> {{c.label}} </option>
                
                  </select>            
                  </p><!--
                     <div  class = "w3-panel" *ngIf="procenaStambeno.touched && !procenaStambeno.valid">
                       <div *ngIf="procenaStambeno.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti procenjenu vrednost stana  </label></div>
                         </div>  -->
                                              
                    <br>



                    <p>
                        <label class = "w3-text-gray" for="osiguranjeStambeno"> <strong> Osiguranje od </strong>  </label>
                       <br>
                       <select   class="w3-select w3-border" id = "osiguravanjeStambeno" name="osiguravanjeStambeno" #selectOsiguravanje (change)="setNewOsiguravanje(selectOsiguravanje.value)" > 
                        <option *ngFor = "let d of osiguravanje" value = {{d.label}}> {{d.label}} </option>
                    
                      </select> 
                  
                   </p>
       
              <!-- <div class = "w3-panel" *ngIf="osiguranjeStambeno.touched && !osiguranjeStambeno.valid">
                 <div *ngIf="osiguranjeStambeno.errors.required" style="width:70%;">  <label class = "w3-text-red "> Morate od cega se osiguravate </label></div>


               </div> -->

               <br>


               <p>
                  
             <label class = "w3-text-gray" for="adresaStambeno"> <strong> Adresa vlasnika </strong>  </label>
              <input  required  ngModel class="w3-input w3-border" id = "adresaStambeno" name="adresaStambeno" #adresaStambeno="ngModel"  type="text" > 
                      
                </p>
                <div  class = "w3-panel" *ngIf="adresaStambeno.touched && !adresaStambeno.valid">
             <div *ngIf="adresaStambeno.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti adresu vlasnika  </label></div>
               </div> 
                                    
          <br>

          <p>
              
         <label class = "w3-text-gray" for="imePrezimeStambeno"> <strong> Ime i prezime vlasnika </strong>  </label>
          <input  required  ngModel class="w3-input w3-border" id = "imePrezimeStambeno" name="imePrezimeStambeno" #imePrezimeStambeno="ngModel"  type="text" > 
                  
            </p>
            <div  class = "w3-panel" *ngIf="imePrezimeStambeno.touched && !imePrezimeStambeno.valid">
         <div *ngIf="imePrezimeStambeno.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti ime i prezime vlasnika  </label></div>
           </div> 
                                
      <br>



      <p>
          
     <label class = "w3-text-gray" for="jmbgStambeno"> <strong> JMBG vlasnika </strong>  </label>
      <input  required  ngModel class="w3-input w3-border" id = "jmbgStambeno" name="jmbgStambeno" #jmbgStambeno="ngModel"  type="number" > 
              
        </p>
        <div  class = "w3-panel" *ngIf="jmbgStambeno.touched && !jmbgStambeno.valid">
     <div *ngIf="jmbgStambeno.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti jmbg vlasnika  </label></div>
       </div> 
                            
  <br>




              </form>


                </div>

                <div class = "w3-quarter"> 
                    
                    <p> </p>
                  </div>
              
                  </div>



                  <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button [disabled]="!myForm5.form.valid" (click)= "save2(trajanjeStambeno, adresaStambeno, imePrezimeStambeno, jmbgStambeno)" type="button" class="w3-button w3-red">Sacuvaj</button>
                      <button (click)="close2()" type="button" class="w3-button w3-red w3-right">Izadji</button>
                      
                    </div>       


</div>