<div class = "w3-container">


  <div class = "w3-row">
    <div class = "w3-container w3-quarter w3-padding">

            <img src= "/images/logo1.jpg" style="width:100%; height:100px;">

    </div>

    <div class = "w3-container w3-half w3-padding">

            <div class = "w3-bar">
            
                        <a href = "#" class = "w3-bar-item w3-text-orange"> fizicka lica </a>
                        <a href = "#" class = "w3-bar-item w3-text-orange"> kontaktirajte nas </a>
                        
            
            </div>

            <br>


            <div class = "w3-bar w3-black ">
                
                      <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectHome()"><b>Pocetna</b> </button>
                      <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('about')"><b>O nama</b> </button>
                      <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('Location')"><b>Lokacije</b> </button>
                      <button class = "w3-button w3-bar-item w3-hover-red w3-padding"  (click)="redirectValue('tripInsurance')"><b>Automobili i putovanja</b> </button>
                    
               
                      
        </div>


    </div>

    <div class = "w3-container w3-quarter">

    </div>

</div>





<div class = "w3-row">
  <div class = "w3-container w3-quarter">

  </div>

  <div class = "w3-quarter">
      <label class = "w3-text-gray w3-small">Pocetna>Web osiguranje>Putno osiguranje </label>

  </div>

  <div class = "w3-rest">

  </div>

</div>



<br>

<div class = "w3-row">
  
  
            <div class = "w3-container w3-quarter">
            </div>
  
            <div class = "w3-container w3-half w3-center">
  
                    <h1 class= "w3-text-red w3-xxlarge ">  PUTNO OSIGURANJE  </h1>
                
            </div>
  
            <div class = "w3-container w3-rest  w3-padding">
  
                   <p> </p>
  
  
            </div>
  
  
  
    </div>

 <br>

<div class = "w3-row">
    
            <div class = "w3-col" style = "width:16%">
    
              <p> </p>
    
            </div>
    
    
            <div class = "w3-col" style ="width:68%">
    
                
                <div class = "w3-bar w3-border w3-light-gray w3-padding" style = "width:100%">
    
                    <div class = "w3-bar-item w3-padding ">
    
                      <br>
                      <h3><b>Podaci za proracun</b></h3>
    
    
                    </div>
    
                    <div class = "w3-bar-item w3-padding">
                        
                      <br>
                      <h3><b>Cena</b></h3>
                        
                        
                   </div>
    
                   <div class = "w3-bar-item w3-padding">
                    
                  <br>
                  <h3><b>Podaci</b></h3>
                    
                    
               </div>
    
                   <div class = "w3-bar-item w3-padding w3-bottombar w3-border-red">
                      
                    <br>
                    <h3><b>Podaci o nosiocu osiguranja</b></h3>
                      
                      
                 </div>
    
                 <div class = "w3-bar-item">
                    
                  <br>
                  <h3><b>Porudzbina</b></h3>
                    
                    
               </div>
    
                </div>
    
    
            </div>
    
            <div class = "w3-col" style = "width:16%">
    
                <p>
                    </p>
    
            </div> 
    
    
    
    
        </div>
  
      <br>
      <br>

    <div class = "w3-row">

      <div class = "w3-quarter">
          <p> </p>

      </div>

      <div class = "w3-half w3-content">

             
          <div class = "w3-border-bottom w3-border-gray" style = "width:90%">
              <strong> Nosilac osiguranja </strong>
          </div>
  
          <br>
           <br>  

          <form class = "w3-container" #myForm6="ngForm" style = "width:50%;">

              <br>
              <p>

                      <label class = "w3-text-gray" for="policyImeNosioc"> <strong> Ime* </strong>  </label>
                     <input  required ngModel class="w3-input w3-border" id = "policyImeNosioc" name="policyImeNosioc" #policyImeNosioc="ngModel"  type="text" > 
        


              </p>
              <div  class = "w3-panel" *ngIf="policyImeNosioc.touched && !policyImeNosioc.valid">
                      <div *ngIf="policyImeNosioc.errors.required" style="width:70%;">  <label class = "w3-text-red w3-large"> Morate uneti ime nosioca </label></div>
  
                  </div> 
                  
              <br>

              <p>
                  <label class = "w3-text-gray" for="policyPrezimeNosioc"> <strong> Prezime*</strong> </label>
                  <input required ngModel class = "w3-input w3-border" id="policyPrezimeNosioc" name="policyPrezimeNosioc" #policyPrezimeNosioc="ngModel" type="text">


              </p>
              <div class = "w3-panel" *ngIf="policyPrezimeNosioc.touched && !policyPrezimeNosioc.valid">

                  <div *ngIf="policyPrezimeNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti prezime nosioca </label> </div>

                  
              </div>
              <br>

              <p>
                      <label class = "w3-text-gray" for="policyEmailNosioc"> <strong> Email*</strong> </label>
                      <input required ngModel class = "w3-input w3-border" id="policyEmailNosioc" name="policyEmailNosioc" #policyEmailNosioc="ngModel" type="email">


                  </p>
                  <div class = "w3-panel" *ngIf="policyEmailNosioc.touched && !policyEmailNosioc.valid">

                      <div *ngIf="policyEmailNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti email nosioca </label> </div>
                      
                      
                  </div>
                  <br>

                  

              <p>
                      <label class = "w3-text-gray" for="policyJmbgNosioc"> <strong> JMBG*</strong> </label>
                      <input required ngModel class = "w3-input w3-border" id="policyJmbgNosioc" name="policyJmbgNosioc" #policyJmbgNosioc="ngModel" type="number" size="13">


                  </p>
                  <div class = "w3-panel" *ngIf="policyJmbgNosioc.touched && !policyJmbgNosioc.valid">

                      <div *ngIf="policyJmbgNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti jmbg nosioca </label> </div>
                      <div *ngIf="policyJmbgNosioc.errors.size" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti 13 cifara </label> </div>
                      
                      
                  </div>
                  <br>

              
                  <p>
                          <label class = "w3-text-gray" for="policyPasosNosioc"> <strong> Broj pasosa*</strong> </label>
                          <input required ngModel class = "w3-input w3-border" id="policyPasosNosioc" name="policyPasosNosioc" #policyPasosNosioc="ngModel" type="number">


                      </p>
                      <div class = "w3-panel" *ngIf="policyPasosNosioc.touched && !policyPasosNosioc.valid">

                          <div *ngIf="policyPasosNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti broj pasosa nosioca </label> </div>
                          
                          
                      </div>
                      <br>



                  <p>
                          <label class = "w3-text-gray" for="policyAdresaNosioc"> <strong> Adresa*</strong> </label>
                          <input required ngModel class = "w3-input w3-border" id="policyAdresaNosioc" name="policyAdresaNosioc" #policyAdresaNosioc="ngModel" type="text">


                      </p>
                      <div class = "w3-panel" *ngIf="policyAdresaNosioc.touched && !policyAdresaNosioc.valid">

                          <div *ngIf="policyAdresaNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti adresu nosioca </label> </div>
                          
                          
                      </div>
                      <br>


                      <p>
                              <label class = "w3-text-gray" for="policyTelefonNosioc"> <strong> Telefon*</strong> </label>
                              <input required ngModel class = "w3-input w3-border" id="policyTelefonNosioc" name="policyTelefonNosioc" #policyTelefonNosioc="ngModel" type="text">


                          </p>
                          <div class = "w3-panel" *ngIf="policyTelefonNosioc.touched && !policyTelefonNosioc.valid">

                              <div *ngIf="policyTelefonNosioc.errors.required" style="width:70%;"> <label class = "w3-text-red w3-large"> Morate uneti telefon nosioca </label> </div>
                              
                              
                          </div>
                          <br>

                          <p>

                                  <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueBackWithObject()">Nazad </button>
                                  <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white"  (click)= "redirectValueCloseWithObject()">Odustani od kupovine </button>
                                  <button  class = "w3-btn w3-red w3-hover-white w3-hover-text-red w3-text-white" [disabled]="!myForm6.form.valid" (click)= "redirectValueContinueWithObject(policyImeNosioc, policyPrezimeNosioc, policyEmailNosioc, policyJmbgNosioc, policyPasosNosioc, policyAdresaNosioc, policyTelefonNosioc)">Nastavi sa kupovinom </button>


                          </p>






          </form>

      </div>


      <div class = "w3-quarter">
          
          
          
            </div>



    </div>

    <br>
    <br>
    <br>
 <!--
    <div class = "w3-row">


        <div class = "w3-quarter">
          <p> </p>
        </div>

        <div class = "w3-half w3-display-container">

          <div class = "w3-display-left">

            <div class = "w3-bar">

                <i class="fa fa-cc-mastercard w3-bar-item " style="font-size:60px;"></i>
                <i class="fa fa-cc-visa w3-bar-item" style="font-size:60px;"></i>
                <i class="fa fa-cc-diners-club w3-bar-item" style="font-size:60px;"></i>

            </div>
        
              
          </div>

          <div class = "w3-display-middle">
              <div class = "w3-bar">
                  <i class="fa fa-cc-paypal w3-bar-item" style="font-size:60px;"></i>
                  <i class="fa fa-credit-card w3-bar-item" style="font-size:60px;"></i>
                  
              </div>
          </div>

          <div class = "w3-display-right">
              <div class = "w3-bar">
                  <i class="fa fa-paypal w3-bar-item" style="font-size:60px;"></i>
                  
                  
              </div>
          </div>

        </div>


        <div class = "w3-quarter">


        </div>




    </div> -->


    <br>
    
        <div class = "w3-row-padding">
    
                <div class = "w3-bar">
                        <i class="fa fa-facebook-official w3-bar-item" style="font-size:36px"></i>
                        <i class="fa fa-instagram w-bar-item" style="font-size:36px"></i>
                        <i class="fa fa-linkedin-square w3-bar-item" style="font-size:36px"></i>
                        <i class="fa fa-twitter w3-bar-item" style="font-size:36px"></i>
                          </div>
    
        </div>




</div>
