<div class = "w3-container w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:700px">
    
    
        
        <div class="w3-center"><br>
          <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        
        </div>
    
    
          
          <div class = "w3-row">
            
            
                      <div class = "w3-container w3-quarter">
                      </div>
            
                      <div class = "w3-container w3-half w3-center">
            
                              <h1 class= "w3-text-red w3-xxlarge ">  OSIGURANJE NA PUTU  </h1>
                          
                      </div>
            
                      <div class = "w3-container w3-rest  w3-padding">
            
                             <p> </p>
            
            
                      </div>
            
            
            
              </div>
    
    
              <br>
              <br>
    
              <div class = "w3-row">
    
                <div class = "w3-quarter"> 
                  
                  <p> </p>
                </div>
    
                <div class = "w3-half w3-content">
                  
                    <form class = "w3-container" #myForm4="ngForm">

                        <br>
                        <p>

                                <label class = "w3-text-gray" for="imePrezimeKasko"> <strong> Ime i prezime vlasnika </strong>  </label>
                               <input  required ngModel class="w3-input w3-border" id = "imePrezimeKasko" name="imePrezimeKasko" #imePrezimeKasko="ngModel"  type="text" > 
                  


                        </p>
                        <div  class = "w3-panel" *ngIf="imePrezimeKasko.touched && !imePrezimeKasko.valid">
                                <div *ngIf="imePrezimeKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti ime i prezime  </label></div>
            
                            </div> 
                            
                        <br>

                        <p>
                            
                             <label class = "w3-text-gray" for="jmbgKasko"> <strong> JMBG vlasnika </strong>  </label>
                              <input  required minlength="13" maxlength="13" ngModel class="w3-input w3-border" id = "jmbgKasko" name="jmbgKasko" #jmbgKasko="ngModel"  type="number" > 
                                
                              </p>
                              <div  class = "w3-panel" *ngIf="jmbgKasko.touched && !jmbgKasko.valid">
                               <div *ngIf="jmbgKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti jmbg  </label></div>
                               <div *ngIf="jmbgKasko.errors.minlength" style="width:70%;">  <label class = "w3-text-red"> Nedostaju cifre  </label></div>
                               <div *ngIf="jmbgKasko.errors.maxlength" style="width:70%;">  <label class = "w3-text-red"> Previse cifara  </label></div>
                               
                                </div> 
                                                        
                              <br>


                              <p>
                                  
                                   <label class = "w3-text-gray" for="trajanjeKasko"> <strong> Trajanje osiguranja (u danima) </strong>  </label>
                                    <input  required  ngModel class="w3-input w3-border" id = "trajanjeKasko" name="trajanjeKasko" #trajanjeKasko="ngModel"  type="number" > 
                                      
                                    </p>
                                    <div  class = "w3-panel" *ngIf="trajanjeKasko.touched && !trajanjeKasko.valid">
                                     <div *ngIf="trajanjeKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti trajanje osiguranja  </label></div>
                                     
                                      </div> 
                                                              
                                    <br>

                                     <p>
                                 <label class = "w3-text-gray" for="paketKasko"> <strong> Paket </strong>  </label>
                                <br>
                              <select   class="w3-select w3-border" id = "paketKasko" name="paketKasko" #selectPak (change)="setNewPak(selectPak.value)" > 
                                  <option *ngFor = "let a of pakets" value = {{a.value}}> {{a.label}} </option>
                                <!--<option value="prvi">Option 1</option>
                              <option value="drugi">Option 2</option>
                            <option value="treci">Option 3</option> -->
                            </select>
                            </p>
                
                      <!--  <div class = "w3-panel" *ngIf="paketKasko.touched && !paketKasko.valid">
                          <div *ngIf="paketKasko.errors.required" style="width:70%;">  <label class = "w3-text-red "> Morate uneti paket </label></div>


                        </div> -->


            
                <br>

                <p>
                    
                     <label class = "w3-text-gray" for="kilometrazaKasko"> <strong>Kilometraza slepovanja </strong>  </label>
                      <!--<input  required  ngModel class="w3-input w3-border" id = "kilometrazaKasko" name="kilometrazaKasko" #kilometrazaKasko="ngModel"  type="number" >  -->
                      <select   class="w3-select w3-border" id = "kilometrazaKasko" name="kilometrazaKasko" #selectKilo (change)="setNewSlep(selectKilo.value)" > 
                          <option *ngFor = "let b of sleps" value = {{b.value}}> {{b.label}} </option>
                     
                    </select>
                        
                      </p>
                      <!--
                      <div  class = "w3-panel" *ngIf="kilometrazaKasko.touched && !kilometrazaKasko.valid">
                       <div *ngIf="kilometrazaKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti kilometrazu slepovanja  </label></div>
                       
                        </div>  -->
                                                
                      <br>

                      <p>
                          
                           <label class = "w3-text-gray" for="cenaPopravkeKasko"> <strong> Cena popravke ($) </strong>  </label>
                          <!--  <input  required  ngModel class="w3-input w3-border" id = "cenaPopravkeKasko" name="cenaPopravkeKasko" #cenaPopravkeKasko="ngModel"  type="number" >  -->
                          <select   class="w3-select w3-border" id = "cenaPopravkeKasko" name="cenaPopravkeKasko" #selectCena (change)="setNewPop(selectCena.value)" > 
                              <option *ngFor = "let c of repairs" value = {{c.value}}> {{c.label}} </option>
                         
                        </select>
                            </p>
                           <!-- <div  class = "w3-panel" *ngIf="cenaPopravkeKasko.touched && !cenaPopravkeKasko.valid">
                             <div *ngIf="cenaPopravkeKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti cenu popravke  </label></div>
                             
                              </div>  -->
                                                      
                            <br>

                            <p>
                                
                                 <label class = "w3-text-gray" for="hotelKasko"> <strong> Broj dana u hotelu </strong>  </label>
                                  <!--<input  required  ngModel class="w3-input w3-border" id = "hotelKasko" name="hotelKasko" #hotelKasko="ngModel"  type="number" >  -->
                                  <select   class="w3-select w3-border" id = "hotelKasko" name="hotelKasko" #selectHotel (change)="setNewHote(selectHotel.value)" > 
                                      <option *ngFor = "let d of hotels" value = {{d.value}}> {{d.label}} </option>
                                 
                                </select>

                                    
                                  </p>
                                 <!-- <div  class = "w3-panel" *ngIf="hotelKasko.touched && !hotelKasko.valid">
                                   <div *ngIf="hotelKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti broj dana u hotelu  </label></div>
                                   
                                    </div>  -->
                                                            
                                  <br>

                                  <p>
                                      <label class = "w3-text-gray" for="prevozKasko"> <strong> Alternativni prevoz </strong>  </label>
                                     <br>
                                     <select   class="w3-select w3-border" id = "prevozKasko" name="prevozKasko" #selectPrevoz (change)="setNewAlt(selectPrevoz.value)" > 
                                        <option *ngFor = "let e of alts" value = {{e.value}}> {{e.label}} </option>
                                   
                                  </select>
                                 
                                
                                 </p>
                     
                             <!--<div class = "w3-panel" *ngIf="prevozKasko.touched && !prevozKasko.valid">
                               <div *ngIf="prevozKasko.errors.required" style="width:70%;">  <label class = "w3-text-red "> Morate uneti alternativni prevoz </label></div>
     
     
                             </div> -->
     
     
                 
                     <br>

                     <p>
                        
                         <label class = "w3-text-gray" for="markaTipKasko"> <strong> Marka i tip vozila </strong>  </label>
                          <input  required  ngModel class="w3-input w3-border" id = "markaTipKasko" name="markaTipKasko" #markaTipKasko="ngModel"  type="text" > 
                            
                          </p>
                          <div  class = "w3-panel" *ngIf="markaTipKasko.touched && !markaTipKasko.valid">
                           <div *ngIf="markaTipKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti marku i tip vozila  </label></div>
                           
                            </div> 
                                                    
                          <br>


                          <p>
                              
                               <label class = "w3-text-gray" for="godinaKasko"> <strong> Godina proizvodnje </strong>  </label>
                                <input  required  min="1960" ngModel class="w3-input w3-border" id = "godinaKasko" name="godinaKasko" #godinaKasko="ngModel"  type="number" > 
                                  
                                </p>
                                <div  class = "w3-panel" *ngIf="godinaKasko.touched && !godinaKasko.valid">
                                 <div *ngIf="godinaKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti godinu proizvodnje  </label></div>
                                 <div *ngIf="godinaKasko.errors.min" style="width:70%;">  <label class = "w3-text-red"> Vozilo mora biti mladje  </label></div>
                                 
                                  </div> 
                                                          
                                <br>


                                <p>
                                    
                                     <label class = "w3-text-gray" for="tablicaKasko"> <strong> Broj registarske tablice  </strong>  </label>
                                      <input  required  ngModel class="w3-input w3-border" id = "tablicaKasko" name="tablicaKasko" #tablicaKasko="ngModel"  type="text" > 
                                        
                                      </p>
                                      <div  class = "w3-panel" *ngIf="tablicaKasko.touched && !tablicaKasko.valid">
                                       <div *ngIf="tablicaKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti broj registarske tablice </label></div>
                                       
                                        </div> 
                                                                
                                      <br>

                                      
                                <p>
                                    
                                     <label class = "w3-text-gray" for="sasijaKasko"> <strong> Broj sasije  </strong>  </label>
                                      <input  required  ngModel class="w3-input w3-border" id = "sasijaKasko" name="sasijaKasko" #sasijaKasko="ngModel"  type="number" > 
                                      
                                      </p>
                                      <div  class = "w3-panel" *ngIf="sasijaKasko.touched && !sasijaKasko.valid">
                                       <div *ngIf="sasijaKasko.errors.required" style="width:70%;">  <label class = "w3-text-red"> Morate uneti broj sasije </label></div>
                                       
                                        </div> 
                                                                
                                      <br>




                    </form>


    
    
    
                    </div>
    
                    <div class = "w3-quarter"> 
                        
                        <p> </p>
                      </div>
                  
                      </div>
    
                      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                          <button [disabled]="!myForm4.form.valid"  (click)="save(imePrezimeKasko, jmbgKasko, trajanjeKasko, markaTipKasko, godinaKasko, tablicaKasko, sasijaKasko)" type="button" class="w3-button w3-red">Sacuvaj</button>
                          <button   (click)="close()" type="button" class="w3-button w3-red w3-right">Izadji</button>
                          
                        </div>       
    
    
    </div>  